<header id="header">
  <div class="left">
    <a href="<%= @current_user.permalink_url %>" title="<%= @current_user.username %>">
      <img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.username %>">
    </a>
    <h1>SoundCloud Queue</h1>
  </div>
</header>
<%= @current_user.username %>
<div id="content">
  <div id="tracks">
    <h2>Your Stream</h2>
    <ul>
    <% @stream.collection.each_with_index do |activity, index| %>
      <% if activity.type == "track" %>
        <li>
          <iframe id="track-<%= activity.origin.id %>" width="100%" src="https://w.soundcloud.com/player/?url=<%= activity.origin.uri %>"></iframe>
          <button title="Queue" class="queue-button button">Queue</button>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div id="sidebar">
    <div id="queue">
      <h2>Next</h2>
      <ul></ul>
    </div>
  </div>
</div>
