<header id="header">
  <div class="left">
    <a href="<%= @current_user.permalink_url %>" title="<%= @current_user.username %>">
      <img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.username %>">
    </a>
    <h1>SoundCloud Queue</h1>
  </div>
</header>
<%= @current_user.username %>
<div id="content">
  <div id="tracks">
    <button title="Filter by track length" id="track-length-filter" class="button">Showing All Tracks</button>
    <h2>Your Stream</h2>
    <ul>
    <%= render partial: "tracks" %>
    </ul>
  </div>
  <div id="sidebar">
    <div id="queue">
      <button title="Clear" id="clear-queue" class="button">Clear</button><h2>Next</h2>
      <ul>
        <%= render partial: "queue" %>
      </ul>
    </div>
  </div>
</div>
